  * {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }

  .site_body {
    background-color: #0d3f6a;
  }

  .main_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    width: 100%;
  }

  .login_title {
    color: #fff;
    margin: 20px 0;
  }

  .input_wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    padding: 5px 8px;
  }

  .input_wrapper input {
    outline: none;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #0b3051;
  }

  .submit_btn {
    margin-top: 10px;
    padding: 5px 7px;
    width: 250px;
    background-color: #f9bd5f;
    border: 1px solid #b77d20;
    border-radius: 5px;
    color: #0d3f6a;
    font-weight: 600;
    font-size: 20px;
  }